/*---------------Font-----------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body{
    font-family: "Roboto Condesed" sans-serif;
}

:root{
    --primary-white:#fff;
}

/*---------Menu Link--------*/

nav a.nav-link {
  font-weight: 600;
  letter-spacing: 0.037rem;
  cursor: pointer;
  margin-right: 3rem;
}

nav ul li {
  text-transform: uppercase;
  
}




.navbar-nav>li>a{
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid rgba(255, 255, 255, 0)!important;
}

.navbar-brand{
    color: white !important;
    margin-left: 10rem;
}

.navbar-dark{
  background-color: black!important;
  top:0;
    position: fixed;
    z-index:1;
    width: 100vw;
    
}

/*------Activeness--------*/

.navbar-nav >li>a.active .navbar-nav>li>a:focus{
 
  border-top: 0.1875rem solid red!important;
}

.navbar-nav >li>a:hover{
 
  border-top: 0.1875rem solid orange!important;
}

/*-----mobile screen tab-------*/
.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
  font-size: 1.5rem;
}


/*-------Home--------*/

.header-wrapper{
  position: relative;
  background: url(./images/fotor_1644925384937.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.main-info h1{
  color: orangered!important;
  text-transform: uppercase;
  font-size: 3rem;

  
}
.main-info h2{
  color: yellow!important;
  text-transform: uppercase;
  font-size: 2rem;

  
}


/*----Typed text------- */
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}


/*----------------------------------------------------ABOUT-----------------------------------------*/


.aboutheading{
  height: 100vh;
  width: 99vw;
 background-color: red;
}

/*----------------------------------------------------PROJECT-----------------------------------------*/


.projectheading{
  height: 100vh;
  width: 99vw;
  background-color: pink;
 
}

/*----------------------------------------------------CONTACT-----------------------------------------*/


.contactheading{
  height: 100vh;
  width: 99vw;
  background-color: blue;
 
}


/*---RESPONSIVE----*/

@media screen and (max-width: 800px){

  .header-wrapper{
    position: relative;
   background: url(./images/fotor_1644925505407.jpg) no-repeat; 

    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

}
